<div class="container">
  <div>
    <h1>Ici l'aventure commence</h1>
    <p>Vous ne trouvez pas la quête de vos rêves ?</p>
    <br>
    <%= link_to 'Créer une quête', new_quest_path(@quest), class: "btn btn-form" %>
  </div>


  <%= render 'shared_huyvu/text_section_index_quest' %>

  <%= render 'shared_huyvu/card_quest' %>

</div>

  <%= render 'shared_huyvu/footer' %>
