<div class="container-new">


  <div class="row justify-content-center">
    <div class="col-md-8" id="title-new-mush">
     <center><h1>Modifier mon commentaire</h1></center>

      <%= render 'form-edit', post: @post, comment: @comment %>

    </div>
  </div>
</div>
