<div class="container-new">


  <div class="row justify-content-center">
    <div class="col-md-8" id="title-new-mush">
     <center><h1>Ajouter un commentaire sur ce post</h1></center>

      <%= render 'form-create', post: @post, comment: @comment %>
    </div>
  </div>
</div>
