#bg-piste {
  background-image: linear-gradient(-225deg, #f3dfca 0%, #e58457 100%);
  }

.container-piste {
  width: 70%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}
