<div class="container">
  <h1>Les guildes dont je suis membre</h1>
  <br>
  <% @myguilds.each do |guild| %>
    <p><%= guild.name %> consacrée à la quête <strong><%= guild.quest.title %></strong></p>
  <% end %>
</div>
