<footer class="bg-gray-900 pt-8" id="footer_loothuntr">
  <div class="flex-grow container mx-auto px-2 flex items-center flex-col lg:flex-row text-gray-400 text-sm">
    <div class="mb-4 lg:mb-0 lg:w-1/3" id="logo_loothuntr">
          <h1 class="flex align-items-center pr-4 "><%= image_tag "ouii.png", class: "mr-1 ", style: 'height:40px;width:auto;' %></h1>
      <p class="mt-1 ml-1" id="footer_loothuntr">Écrivez l'Histoire avec un grand H, grâce à <strong>LootHuntr</strong>. Rassemblez les aventuriers les plus aguerris, partagez vos idées et partez à la découverte de nouveaux trésors !</p>
    </div>


  <div class="w-full mb-3 lg:mb-0 lg:w-72 lg:ml-40">
    <span class="text-gray-600 font-bold mb-3 block uppercase" id="color_footer_menu"></span>
      <ul>
        <li class="mb-3"><a href="#" class="" id="footer_loothuntr"></a></li>
        <li class="mb-3"><a href="#" class="" id="footer_loothuntr"></a></li>
        <li><a href="#" class="" id="footer_loothuntr"></a></li>
      </ul>
  </div>

  <div class="w-full mb-8 lg:mb-0 lg:w-72">
    <span class="text-gray-600 font-bold mb-3 block uppercase" id="color_footer_menu">Nous découvrir</span>
    <ul>
      <li class="mb-3"><a href="https://sites.google.com/site/doretdetresors/les-chasseurs-de-tresors-celebres" class="" id="footer_loothuntr">Notre histoire</a></li>
      <li class="mb-3"><a href="https://fr.wikipedia.org/wiki/Mission_impossible_(s%C3%A9rie_de_films)" class="" id="footer_loothuntr">Notre mission</a></li>
      <li id="footer_loothuntr"><%= link_to "Les crédits", credits_path %></li>
    </ul>
  </div>

  <div class="w-full mb-12 lg:mb-0 lg:w-72">
    <span class="text-gray-600 font-bold mb-6 block uppercase" id="color_footer_menu">Réseaux</span>
    <ul class="flex flex-col space-y-2">
      <li class="mb-1 pl-3 "><a href="https://github.com/Elisztomania/loothuntr" class="fab fa-github rose" id="footer_loothuntr"></a></li>
      <li class="mb-1 pl-3 "><a href="https://www.instagram.com/lewagonlyon/" class="fab fa-instagram rose" id="footer_loothuntr"></a></li>
      <li class="pl-3"><a href="https://www.youtube.com/watch?v=DeXoACwOT1o" class="fab fa-youtube rose" id="footer_loothuntr"></a></li>
    </ul>
  </div>

  </div>

  <div class="bg-black bg-opacity-25 lg:py-3 lg:mt-6 md:mt-12 lg:pl-20 hover:text-black no-underline" id="footer_of_footer">
    <span class="text-left sm:text-center block text-gray-600 text-xs tracking-wider px-4 leading-relaxed hover:text-black no-underline" id="footer_of_footer">© 2020 LootHuntr - All rights reserved.<br>Developed by <a href="https://github.com/Elisztomania/loothuntr" target="_blank" rel="noopener" class="underline hover:no-underline">Grosse Team du Futur</a>.</span>
  </div>

</footer>
