<%= link_to quest_path(quest) do %>
  <% if quest.photo.attached? %>
    <div class="??">
      <%= cl_image_tag quest.photo.key %>
  <% else %>
      <%= image_tag "coins.jpg" %>
    </div>
  <% end %>
  <div class="card-info-marker">
    <p><%= quest.title %></p>
  </div>
<% end %>
