<p><%= link_to quest_path(quest) do %>
  <div class="container p-0">
    <div class="picture-map">
    <% if quest.photo.attached? %>
        <%= cl_image_tag quest.photo.key, height: 250, width: 350, crop: :fill%>
    <% else %>

        <%= image_tag "coins_map.jpg", height: 250, width: 350, crop: :fill %>
    <% end %>
    </div>
  </div>
  <div class="card-info-marker">
    <p><%= quest.title %></p>
  </div>
<% end %>
</p>
