<div class="container-map flex lg:flex-col lg:items-center mb-20 mx-4">
  <div id="map"
           style="width: 1100px; height: 70vh;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
