<div class= "container">
  <h1 class="text-center pt-16 text-2xl"> Crédits </h1>
  <h3 class="pt-6 pb-2 text-lg">Voici les différentes sources des illustrations du site : </h3>

    <p>Avatar par défaut ©<a href="https://dribbble.com/shots/6096315-Anthropologist">Vera Dement</a></p>
    <p>Découverte d’un trésor pour le trésor a été trouvé ©<a href="https://dribbble.com/shots/12002099-Amazing-Treasures">Amazing Treasures</a></p>
    <p>Aventurière de l’absence d’avancées ©<a href="https://dribbble.com/shots/6212936-Antropology">Vera Dement</a></p>
    <p>Explorateur page d’accueil ©<a href="https://dribbble.com/shots/14093581-Treasure-Hunter-Illustration">Unblast</a></p>
    <p>Exploratrice du tableau de bord de guilde ©<a href="Shelley-Reuss https://dribbble.com/shots/9805620-Discover-VES/attachments/1837516?mode=media">Laurel</a></p>
    <p>Cartes du tableau de bord de guilde  ©<a href="https://dribbble.com/shots/5376334-Young-Archaeologist-and-Explorer-Society-Map">Josiah DePaoli </a></p>

</div>
