<div class= "container pb-16">
  <h1 class="text-center pt-16 text-2xl"> Crédits </h1>
  <h3 class="pt-6 pb-2 text-lg">Voici les différentes sources des illustrations du site : </h3>

    <p><em>Explorateur</em> page d’accueil ©<a href="https://dribbble.com/shots/14093581-Treasure-Hunter-Illustration">Unblast</a></p>
    <p><em>Avatar anthropologue</em> par défaut ©<a href="https://dribbble.com/shots/6096315-Anthropologist">Vera Dement</a></p>
    <p><em>Branchages</em> de la liste des quêtes  ©<a href="https://creativemarket.com/Oceloti/4648069-Set-of-green-jungle-plant">Oceloti</a></p>
    <p><em>Aventurière</em> de l’absence d’avancées ©<a href="https://dribbble.com/shots/6212936-Antropology">Vera Dement</a></p>
    <p><em>Exploratrice</em> du tableau de bord de guilde ©<a href="Shelley-Reuss https://dribbble.com/shots/9805620-Discover-VES/attachments/1837516?mode=media">Laurel</a></p>
    <p><em>Cartes</em> du tableau de bord de guilde  ©<a href="https://dribbble.com/shots/5376334-Young-Archaeologist-and-Explorer-Society-Map">Josiah DePaoli</a></p>
    <p><em>Jeune homme</em> de l'absence de piste  ©<a href="https://dribbble.com/shots/7897330-Handsome-man-pushing-big-hourglass">Kit8</a></p>
    <p><em>Découverte d’un trésor</em> pour le trésor a été trouvé ©<a href="https://dribbble.com/shots/12002099-Amazing-Treasures">Amazing Treasures</a></p>
    <p><em>Observateur</em> de l'erreur 404  ©<a href="https://dribbble.com/shots/7392790-404-web-page-error">Kit8</a></p>
    <p><em>Jeune homme</em> de l'erreur 500 ©<a href="https://dribbble.com/shots/8338588-Man-assembling-mobile-service">Kit8</a></p>
    <p><em>Scène rurale</em> de l'erreur 422 ©<a href="https://dribbble.com/shots/12520108-Rural-nature-scene">Kit8</a></p>
</div>
