<div class="container">




<div class="max-w-4xl mx-auto">
  <h2 class="text-center text-3xl sm:text-4xl mt-8 sm:mt-16 text-gray-800 mb-4 leading-tight">La recherche de trésor, plus qu'une passion</h2>
  <p class="text-center text-gray-600 mb-0">Envie de vivre une aventure incroyable ? Ne cherchez plus, <strong>Loot Huntr</strong> est LA plateforme qui vous permet de découvrir des quêtes mystérieuses et excitantes, rencontrer les plus grands aventuriers de notre génération et organiser votre prochaine quête !</p>
</div>



<ul class="my-8 sm:my-16 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8" id="text_decoration_card_quest">

    <% @quests.each do |quest| %>
    <%= link_to quest do %>

    <li class="group transition-transform duration-200 transform sm:hover:-translate-y-1">


        <div class="relative flex-shrink-0">

          <img loading="lazy" src="https://pyxis.nymag.com/v1/imgs/027/cf0/d4c718a6f46b8fb48a5cb4d54c98b771c5-23-firewatch.rsquare.w700.jpg"
          srcset="https://pyxis.nymag.com/v1/imgs/027/cf0/d4c718a6f46b8fb48a5cb4d54c98b771c5-23-firewatch.rsquare.w700.jpg 1x, https://pyxis.nymag.com/v1/imgs/027/cf0/d4c718a6f46b8fb48a5cb4d54c98b771c5-23-firewatch.rsquare.w700.jpg 2x"
          width="352" height="256"
          class="transition duration-200 group-hover:shadow-2xl h-64 w-full rounded-lg shadow-md object-cover"
          alt="Image de Pirate">
        </div>



        <div class="relative px-4 -mt-12 text-left">
          <div class="bg-white rounded-lg px-4 py-3 transition duration-200 sm:group-hover:shadow-2xl shadow-md">
            <div class="text-xs text-gray-600 font-semibold"><span class="uppercase"><%= quest.resolved ? "RESOLUE" : "EN COURS" %></span> <span class="text-gray-400 text-sm mx-2"> • </span><%= quest.location %></div>

              <h1 class="truncate text-gray-900 font-bold text-lg leading-tight my-1"><%= quest.title %></h1>

              <div class="m-3" >
                <button class="text-white-800 font-bold rounded border-b-2 border-white-500 hover:border-white-600 hover:bg-white-500 hover:text-black shadow-md py-2 px-6 inline-flex items-center" id="button_card_quest">
                  <span class="mr-2">Découvrir</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path fill="currentcolor" d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"></path>
                  </svg>
                </button>
              </div>

            </div>
          </div>
    </li>

  <% end %>
<% end %>

</ul>



</div>



