


  <nav class="font-bold bg-yellow-100 border-4 border-light-blue-500 border-opacity-25 flex flex-col text-center sm:flex-row sm:text-left sm:justify-between py-4 px-6 bg-white shadow sm:items-baseline w-full">
    <div class="mb-2 sm:mb-0">
      <a href="/home" class="no-underline text-2xl  text-grey active:bg-green-700">LootHuntr</a>
    </div>
    <div>
      <a href="/one" class="text-lg no-underline text-grey hover:text-bg-red-600 ml-2">Notre histoire</a>
      <a href="/two" class="text-lg no-underline text-grey hover:text-bg-red-600 ml-2">Guilde</a>
      <a href="/three" class="text-lg no-underline text-grey hover:text-bg-red-600 ml-2">Profil</a>
    </div>
  </nav>
