


<div class="relative flex items-center justify-center overflow-hidden py-20">
  <figure id="slide-1" class="w-full h-full absolute top-0 left-0 bg-cover bg-center" style="background-image:url(https://images8.alphacoders.com/679/thumb-1920-679478.jpg)"></figure>
  <figure id="slide-2" class="w-full h-full absolute top-0 left-0 bg-cover bg-center" style="background-image:url(https://images8.alphacoders.com/679/thumb-1920-679478.jpg)"></figure>
  <figure id="slide-3" class="w-full h-full absolute top-0 left-0 bg-cover bg-center" style="background-image:url(https://images8.alphacoders.com/679/thumb-1920-679478.jpg)"></figure>
  <figure id="slide-4" class="w-full h-full absolute top-0 left-0 bg-cover bg-center" style="background-image:url(https://images8.alphacoders.com/679/thumb-1920-679478.jpg)"></figure>
<div class="absolute w-full h-full opacity-50"></div>

<div class="container lg:px-4 w-11/12 xl:w-8/12 mx-auto my-8 lg:my-32">
  <h1 class="font-serif font-bold leading-none text-2xl sm:text-4xl mb-6 sm:mb-8 text-white text-center relative z-10">Envie de vivre l'aventure<br class="block sm:hidden"> Loot Huntr ?</h1>
<div x-data="{ open: false }">

<button @click="open = true" class="md:hidden focus:outline-none py-3 px-8 table bg-teal-300 border border-teal-300 text-teal-900 font-semibold rounded mx-auto relative z-10">Search a Property in Lisbon</button>

</div>
</div>
</div>
