


<div class="relative flex items-center justify-center overflow-hidden py-32">
    <figure id="slide-1" class="w-full h-full absolute top-0 left-0 bg-cover bg-center" style="background-image:url(https://www.nintendo-town.fr/wp-content/uploads/2018/12/apps.14501.68688977722932617.c18986e0-354d-49e5-a689-33d52a7432cb.jpg)"></figure>
  <div class="absolute w-full h-full opacity-50"></div>

    <div class="container lg:px-4 w-11/12 xl:w-8/12 mx-auto my-8 lg:my-32">
      <h1 class="font-sans font-bold leading-none text-4xl sm:text-5xl mb-6 sm:mb-8 text-white text-center relative z-10">Vivez l'aventure Loot Huntr</h1>
    </div>
</div>

