<footer class="bg-gray-900 pt-12">
  <div class="container mx-auto px-4 flex items-center flex-col lg:flex-row text-gray-400 text-sm">
    <div class="mb-8 lg:mb-0 lg:w-1/3">
      <h1 class="text-3xl color-white">Loot Huntr</h1>
      <p class="mt-4">Envie de vivre une aventure incroyable ? Ne cherchez plus, <strong>Loot Huntr</strong> est LA plateforme qui vous permet de découvrir des quêtes mystérieuses et excitantes, rencontrer les plus grands aventuriers de notre génération et organiser votre prochaine quête !</p>
    </div>

  <div class="w-full mb-8 lg:mb-0 lg:w-72 lg:ml-40">
    <span class="text-gray-600 font-bold mb-3 block uppercase">Informations</span>
      <ul>
        <li class="mb-3"><a href="/apartments-in-lisbon" class="duration-100 transition-colors hover:text-teal-500">Mentions légales</a></li>
        <li class="mb-3"><a href="/golden-visa-portugal" class="duration-100 transition-colors hover:text-teal-500">Conditions générales de vente</a></li>
        <li><a href="/golden-visa-properties" class="duration-100 transition-colors hover:text-teal-500">Politique de confidentialité</a></li>
      </ul>
  </div>

  <div class="w-full mb-8 lg:mb-0 lg:w-72">
    <span class="text-gray-600 font-bold mb-3 block uppercase">En savoir plus</span>
    <ul>
      <li class="mb-3"><a href="/about" class="duration-100 transition-colors hover:text-teal-500">Notre histoire</a></li>
      <li class="mb-3"><a href="/invest-in-lisbon" class="duration-100 transition-colors hover:text-teal-500">Notre mission</a></li>
      <li><a href="/contacts" class="duration-100 transition-colors hover:text-teal-500">Nous contacter</a></li>
    </ul>
  </div>

  <div class="w-full lg:w-auto">
    <span class="text-gray-600 font-bold mb-3 block uppercase">Nos réseaux</span>
    <ul>
      <li class="mb-3"><a href="https://www.facebook.com/" target="_blank" rel="noopener" class="duration-100 transition-colors hover:text-teal-500">Facebook</a></li>
      <li class="mb-3"><a href="https://www.instagram.com/" target="_blank" rel="noopener" class="duration-100 transition-colors hover:text-teal-500">Instagram</a></li>
      <li><a href="https://www.linkedin.com/" target="_blank" rel="noopener" class="duration-100 transition-colors hover:text-teal-500">Linkedin</a></li>
    </ul>
  </div>

</div>

  <div class="bg-black bg-opacity-25 py-6 mt-6 md:mt-12">
    <span class="text-left sm:text-center block text-gray-600 text-xs tracking-wider px-4 leading-relaxed">© 2020 Loot Huntr - All rights reserved.<br>Developed by <a href="#" target="_blank" rel="noopener" class="underline hover:no-underline">Grosse Team du Futur</a>.</span>
  </div>

</footer>
