<div class="max-w-4xl mx-auto">
  <h2 class="text-center text-3xl sm:text-4xl mt-8 sm:mt-16 text-gray-800 mb-4 leading-tight">La recherche de trésor, plus qu'une passion</h2>
  <p class="text-center text-gray-600 mb-0">Envie de vivre une aventure incroyable ? Ne cherchez plus, <strong>Loot Huntr</strong> est LA plateforme qui vous permet de découvrir des quêtes mystérieuses et excitantes, rencontrer les plus grands aventuriers de notre génération et organiser votre prochaine quête !</p>
</div>
