<!-- FORMULAIRE QUI DUPLIQUE UNE PISTE POUR CREER UNE AVANCEE -->

<div class="container my-36">

  <!-- @post.photos -->

  <%= simple_form_for @avancee, url:create_avancee_from_post_post_path do |f| %>
      <%= f.input :title, label: 'Titre'  %>
      <%= f.input :description, label: 'Description'  %>
      <%= f.button :submit, 'Poster mon avancée sur la quête', class: 'btn btn-primary'  %>
  <% end %>


</div>
