#footer_loothuntr {
  background-color: #f3dfca;
  color: black;
}

#color_footer_menu {
  color: #e58457;
}

#footer_of_footer {
  background-color: #ed6449;
  color: white;
  font-size: 12px;
}

#logo_loothuntr {
  color: #4a0b2e;
}
