.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  height: 100vh;
  top: 0;
  margin-bottom: 40px;
  margin-top: 16px;
  margin-left: 120px;
  margin-right: 120px;
  border-radius: 12px;
}
