.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  top: 0;
  margin-bottom: 80px;
  margin-top: 30px;

  border-radius: 12px;
}

