.card-info-marker {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
//   color: gray;
}

.mapboxgl-popup-content {
//   border-radius: 15px;
//   padding: 0px;
  box-shadow: 7px 9px 23px 5px rgba(255,255,255,0.11);
  text-align: center;
//   font-family: 'Open Sans', sans-serif;
}


