// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/navbar";
@import 'mapbox-gl/dist/mapbox-gl';

// h1 {
//  font-family: 'Incosolata', monospace;
//  font-size: 30px !important;
// }

// h2 {
//   font-family: 'Incosolata', monospace;
//   font-size: 25px !important;
// }

// h3 {
//   font-family: 'Incosolata', monospace;
//   font-size: 15px !important;
// }

// h4 {
//   font-family: 'Incosolata', monospace;
//   font-size: 10px !important;
// }

// C'est pour la partial form quest
.body-bg {
      background-color: #e58457;
  }
// C'est pour la partial form quest




p {
  font-family: 'Montserrat', sans-serif !important;
}

a {
  text-decoration: none !important;
  font-family: 'Montserrat', sans-serif;


}

button {
  text-decoration: none !important;
  font-family: 'Montserrat', sans-serif;


}

span {
  text-decoration: none !important;
  font-family: 'Montserrat', sans-serif;
}

.gradient {
  background-image: linear-gradient(-225deg, #f3dfca 0%, #e58457 100%);
  }

button,
.gradient2 {
  background-color: #f3dfca;
  background-image: linear-gradient(315deg, #f3dfca 0%, #e58457 74%);
    }


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1; /* Or flex-grow: 1;*/
}






