<!-- FORMULAIRE POSTULER A UNE GUILDE -->


<div class=" md:p-10  md:px-0 items-center flex flex-col">

    <div class=" max-w-lg md:p-12 my-8 shadow-2xl body-bg rounded-md">
        <div class="text-center">
            <h2 class="font-bold text-3xl">Postuler pour entrer dans la guilde <%= @guild.name %></h2>
        </div>

        <div class="mt-8 ">

            <%= simple_form_for [@guild, @member] do |f| %>

            <form class="flex flex-col" method="POST" action="#">
                <div class=" border-black-100 rounded w-full text-black-900 focus:outline-none focus:border-purple-600 transition duration-500 p-1 mb-1 champ-form">
                    <%= f.input :cover_letter, label: 'Présentez-vous ☠️' %>
                </div>

                <div class="flex flex-col items-center mt-4 px-12">
                  <%= f.button :submit, "Postuler", class: 'button-create-quest' %>
                </div>
                <% end %>
            </form>
        </div>
    </div>

</div>


